<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h1 class="text-center login">Login</h1>
		</div>
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<form class="form" name="form" ng-submit="login(form)" novalidate>
				<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted && !success }">
					<label>Username:</label>
					<input id="name" type="text" name="name" class="form-control" ng-model="user.name" ng-disabled="success" required mongoose-error>
				</div>
				<div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted && !success }">
					<label>Password:</label>
					<input id="password" type="password" name="password" class="form-control" ng-model="user.password" ng-disabled="success" required mongoose-error>
				</div>
				<div class="form-group has-error" ng-show="submitted && !success">
					<p class="help-block" ng-show="form.name.$error.required && !form.password.$error.required">Please enter your username.</p>
					<p class="help-block" ng-show="!form.name.$error.required && form.password.$error.required">Please enter your password.</p>
					<p class="help-block" ng-show="form.name.$error.required && form.password.$error.required">Please enter your username and password.</p>
					<p class="help-block" ng-show="form.name.$error.mongoose || form.password.$error.mongoose">{{ errors.other }}</p>
				</div>
				<div class="form-group has-success" ng-show="submitted && success">
					<p class="help-block">{{message}}</p>
				</div>
				<div class="text-center">
					<button id="submit" class="btn btn-primary btn-lg btn-login login-submit" ng-disabled="success" type="submit">Submit</button>
				</div>
				<div class="form-group has-error">
					<p class="help-block loggedIn text-center">{{ loggedIn }}</p>
				</div>
				<hr>
			</form>
		</div>
		<div class="col-md-6 col-md-offset-3 visible-md visible-lg visible-sm">
			<div class="text-center">
				<a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')" ng-disabled="success">
					<span>Connect with&nbsp;&nbsp;<i class="fa fa-facebook"></i></span>
				</a>
				<span class="h-space"></span>
				<a class="btn btn-google-plus" href="" ng-click="loginOauth('google')" ng-disabled="success">
					<span>Connect with&nbsp;&nbsp;<i class="fa fa-google-plus"></i></span>
				</a>
				<span class="h-space"></span>
				<a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')" ng-disabled="success">
					<span>Connect with&nbsp;&nbsp;<i class="fa fa-twitter"></i></span>
				</a>
			</div>
		</div>
		<div class="col-xs-12 visible-xs">
			<div class="text-center">
				<a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')" ng-disabled="success">
					<span>Connect with&nbsp;&nbsp;<i class="fa fa-facebook"></i></span>
				</a>
			</div>
			<div class="v-space"></div>
			<div class="text-center">
				<a class="btn btn-google-plus" href="" ng-click="loginOauth('google')" ng-disabled="success">
					<span>Connect with&nbsp;&nbsp;<i class="fa fa-google-plus"></i></span>
				</a>
			</div>
			<div class="v-space"></div>
			<div class="text-center">
				<a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')" ng-disabled="success">
					<span>Connect with&nbsp;&nbsp;<i class="fa fa-twitter"></i></span>
				</a>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<hr>
		</div>
	</div>
</div>
