<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>FCC Basejump</h1>
		<p class="lead">Build a Voting App</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="poll in polls track by $index">
				<div>{{poll.pollName}}
					<div class="radio" ng-repeat="pollOption in poll.pollOptions track by $index">
						<label><input type="radio" name="optradio" ng-click="votePoll(poll, $index)" ng-value="pollOption.label">{{pollOption.label}}: {{pollOption.value}}</label>
					</div>
					<button type="button" class="close" ng-click="deletePoll(poll)">&times;</button>
				</div>
			</ul>
		</div>
	</div>
	<form class="poll-form">
		<label>Syncs in realtime across clients</label>
		<p class="input-group">
			<input type="text" class="form-control" placeholder="Add a new poll here." ng-model="pollName">
			<fieldset data-ng-repeat="pollOption in pollOptions track by $index">
				<input type="text" ng-model="pollOption.label" class="form-control">
				<button type="button" class="close" ng-click="removePollOption($index)">-</button>
			</fieldset>
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary" ng-click="addPollOption()">+</button>
			</span>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary" ng-click="addPoll()">Add New</button>
			</span>
		</p>
	</form>
</div>
<footer class="footer">
	<div class="container">
		<p>
			<span>FCC Basejump: Build a Voting App |</span>
			<a href="https://github.com/chuah48263">@chuah48263</a>
			<span> |</span>
			<a href="https://github.com/chuah48263/fcc-basejump-build-a-voting-app/issues">Issues</a>
		</p>
	</div>
</footer>
